
<header class="header_bar">
<div class="header_box">
  <h1><%= link_to"Potepan Share",users_path%></h1>
  <div class="not_login_box">
    <p class="not_login_btn"><%= link_to"ログイン",new_user_session_path%></p>
    <p class="not_new_btn"><%= link_to"新規登録",new_user_registration_path %></p>
  </div>
</div>
</header>



